<!doctype html>
<html>
  <head>
    <title>檔案上傳</title>
  </head>
  <body>
    <h1>上傳檔案</h1>
    <p>{{ error }}<p>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" accept=".nii, .nii.gz"  name="file">
      <input type="submit" value="上傳">
    </form>

    <h1>功能選項</h1>
    <p><a href="/show">預覽mri影像</a></p>


    <form method="POST" action="/selModel">
    <p>選擇執行的模型：</p>
    <input type="radio" name="function" value="Multi_labal"> Multi_labal
    <input type="radio" name="function" value="hippocampus"> hippocampus
    <input type="submit" value="進行分割">
    </form>

    <h1>Image</h1>
    <img id="picId1" src="static/sagittal.jpg" alt="Sagittal Plane">
    <img id="picId2" src="static/axial.jpg" alt="Axial Plane">
    <img id="picId3" src="static/coronal.jpg" alt="Coronal Plane">


  </body>
</html>