{% extends "uploado.html" %}

{% block show_image %}
  <h1 class="text-center">{{img_fname}}</h1>
  <p></p>
  <h1 class="text-center">MRI Image</h1>

  {{image_iframe|safe}}

  <hr>
  <form method="POST" class="img-thumbnail">
    <h3>選擇執行的模型：</h3>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="seg_model" id="flexRadioDefault1" value="SynthSeg" checked>
      <label class="form-check-label" for="flexRadioDefault1">
        SynthSeg
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="seg_model" id="flexRadioDefault2" value="Hippocampus">
      <label class="form-check-label" for="flexRadioDefault2">
        Hippocampus
      </label>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">確定分割</button>
    </div>
  </form>

  {% block show_mask %}{% endblock %}

{% endblock %}  