{% extends "base.html" %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="formFile" class="form-label">請上傳大腦MRI影像(.nii/.nii.gz)</label>
    <input class="form-control" type="file" id="formFile" name="file" accept=".nii.gz,.nii">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">上傳</button>
  </div>
</form>

{% block show_image %}{% endblock %}

<p></p>
<form action="/logout", method="get">
  <div class="col-12">
    <button type="submit" class="btn btn-primary">登出</button>
  </div>
</form>
{% endblock %}

{% block script1 %}
{% endblock %}